@import '../../assets/styles/variables.scss';

#intro {
    position: relative;
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    //==========
    display: flex;

    .introContent {
        // height: 100vh;
        // width: 100vw;
        // padding: 2rem;
        font-size: 2.5rem;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
    }

    .portrait-wrap {
        padding-left: 2rem;
    }

    .bg {
        // position: absolute;
        // top: 2rem;
        // left: 0;
        // z-index: -1;
        object-fit: contain;
        // height: 65vh;
        width: 35vw;
        border-radius: 1rem;
        // width: 90%;
        // padding-left: 2rem;
    }

    .introInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 2rem;
        padding-right: 2rem;

        .hello {
            font-size: 1.7rem;
            font-weight: 100;
        }

        // .introText {
        //     font-family: 'Helvetica', sans-serif;
        // }

        .introName {
            font-size: 3rem;
            color: $orangeColor;
        }

        .introPara {
            font-size: 1.5rem;
            font-weight: 200;
        }

        .btn-wrap {
            display: flex;
            flex-direction: row;
            grid-gap: 2rem;


            .download-btn {
                @extend %btn-base-orange;
                display: flex;
                font-weight: 500;
                color: white;
                font-size: 1rem;
                letter-spacing: 2px;
                padding: 1rem;
            }
        }


    }

    @media screen and (max-width: 720px) {
        .introContent {
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
        }

        .portrait-wrap {
            // padding-left: 2rem;
            display: flex;
            justify-content: center;
        }

        .bg {
            width: 70%;
            // padding-left: 0;
        }

        .introInfo {
            width: 90%;
            padding-right: 0;
            grid-gap: .5rem;
            // align-items: center;

            .introName {
                font-size: 2rem;
            }

            .introPara {
                font-size: 1rem;
                font-weight: 200;
            }
        }

    }


    @media screen and (min-width: 721px) and (max-width: 840px) {
        .introContent {
            font-size: 1.5rem;
        }

        .introInfo {
            grid-gap: .5rem;

            .introName {
                font-size: 2rem;
            }

            .introPara {
                font-size: 1rem;
                font-weight: 200;
            }
        }
    }

    @media screen and (min-width: 841px) and (max-width: 1140px) {
        .introContent {
            font-size: 1.5rem;
        }

        .introInfo {
            grid-gap: 1.5rem;

            .introName {
                font-size: 2.5rem;
            }

            .introPara {
                font-size: 1rem;
                font-weight: 200;
            }
        }
    }
}